################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GamemodeManager/obj/Release
/Gamemodes/PlagueCurse/PlagueCurse/obj/Release
